<nav class="navbar navbar-dark bg-dark flex-column p-3" style="min-height: 100vh;">
    <a class="navbar-brand mb-4" href="/">
        <strong>InvestPortfolio</strong>
    </a>
    <ul class="navbar-nav w-100">
        <li class="nav-item mb-2">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home me-2"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link" href="/clients">
                <span class="oi oi-people me-2"></span> Clients
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link" href="/portfolios">
                <span class="oi oi-bar-chart me-2"></span> Portfolios
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link" href="/analytics">
                <span class="oi oi-graph me-2"></span> Analytics
            </NavLink>
        </li>
    </ul>
</nav>
