@page "/error"
@using Microsoft.AspNetCore.Diagnostics

<PageTitle>Error</PageTitle>

<div class="container mt-5">
    <div class="alert alert-danger">
        <h4>An error occurred</h4>
        <p>Sorry, something went wrong processing your request.</p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>
